@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: Quicksand;
    font-size: 14px;
    overflow-x: hidden;
}
#container{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
a{
    text-decoration: none;
    color: black;
}
.cabiet{
    opacity: 0.2;
}
ul{
    list-style: none;
    padding: 0px 0px;
    margin: 0px 0px;
}

#container>.div-one{
    text-align: center;
    font-family: Arial;
    padding-top: 6px;
    font-size: 11px;
    height: 20px;
    background-color: rgb(253, 167, 136);
}
/* Phần header ----------------------------------------- */
header{
    width: 100%;
    height: 140px;
    position: relative;
    clear: both;
}
.column{
    position: absolute;
    margin-top: 35px;
}
.icon-fb,.icon-insta{
    position: absolute;
    top: 10px;
    width: 40px;
}
.icon-fb{
    left: 60px;
}
.icon-insta{
    left: 110px;
}
.icon-fb:hover, .icon-insta:hover{
    border: 4px solid rgb(255, 209, 224);   
    border-radius: 13px;
    top: 6px;
}
.icon-fb:hover{
    left: 56px;
}
.icon-insta:hover{
    left: 106px;
}
.logo{
    font-size: 40px;
    padding-left: 572px;
}
.icon-canhan, .icon-timkiem, .icon-giohang{
    position: absolute;
    bottom: 10px;
}
.icon-giohang{
    width: 30px;
    left: 1205px;
}
.icon-timkiem{
    width: 32px;
    left: 1156px;
}
.icon-timkiem:hover{
    bottom: 11px;
    left: 1155px;
}
.icon-canhan{
    width: 33px;
    left: 1110px;
}
/* phần menu------------------------------ */
.menu{
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 10px;
    font-size: 16px;
}
.menu>li{
    float: left;
    margin-right: 35px;
    position: relative;
}
.sub-menu{
    position: absolute;
    display: none;
    font-family: Quicksand;
    z-index: 10;
    font-size: 13px;
    width: 160px;
    margin-top: 8px;
    border-top: 2px solid rgb(49, 48, 48);
    background-color: #fbfbfb;
}
.sub-menu>li{
    border-bottom: 1px solid rgb(150, 145, 145);
    padding: 8px 15px;
}
.sub-menu li a:hover{
    color: rgb(253, 167, 136);
}
.menu li:hover>.sub-menu{
    display: block;
}
.menu>li:first-child{
    padding-left: 270px;
}
.menu>li>span{
    position: absolute;
    width: 35px;
    height: 15px;
    border: 1px solid;
    padding-left: 5px;
    color: white;
    font-size: 11px;
    background-color: red;
    bottom: 21px ;
    left: 55px;
}
.menu>li>b{
    position: absolute;
    font-size: 25px;
    color: red;
    bottom: 5px;
}
.menu>li>a:hover{
    transition: 0.25s;
    color: rgb(253, 167, 136);
    padding-bottom: 9px;
    border-bottom: 2px solid rgb(49, 48, 48);
}
/* ------đường dẫn------- */
.nguondan{
    position: relative;
    font-size: 10px;
    top: 140px;
    padding: 7px 15px;
    background-color: #f3f3f3;
}
/* -------phần article------------------ */
article{
    position: relative;
    width: 25%;
    top: 90px;
    left: 20px;
    float: left;
}
.menu-con{
    font-family: Quicksand;
    font-size: 14px;
}
.menu-con>li{
    padding: 10px;
    padding-bottom: 0;
}
.menu-con>li>a>input{ 
    margin: 10px 10px;
    margin-top: 15px;
}
.menu-con>li table{
    border-collapse: collapse;
    margin: 10px 0px;
}
.menu-con>li table th{
    width: 40px;
    height: 40px;
    text-align: center;
}
.sub-menucon{
    font-size: 12px;
    padding: 10px 30px;
    padding-top: 5px;
}
.sub-menucon>li{
    padding: 5px;
}
/* --------------------aside---------------------------------------- */
aside{
    position: relative;
    top: 80px;
    width: 75%;
    float: right;
}
.pro-loop:nth-child(5){
    float: right;
}
.pro-loop:nth-child(6), .pro-loop:nth-child(7),.pro-loop:nth-child(8) {
    float: right;
}
.pro-loop:nth-child(9),.pro-loop:nth-child(10), .pro-loop:nth-child(11), .pro-loop:nth-child(12){
    float: left;
}

.pro-loop {
	display: block;
	position: relative;	
    overflow: hidden;
    width: 216px;	
	height: 100%;
	background:#fff;
    margin-bottom: 10px;
    top: 60px;
    float: left;
    margin-right: 20.8px;
}
.pro-loop a{
    display:block;
}
.pro-loop .product-detail{
    padding: 20px 0;
}
.pro-loop .product-img{
    position:relative;
    max-height: 300px;
    overflow: hidden;
}
.pro-loop .product-img .product-sale,.pro-loop .product-img .sold-out{
    position: absolute;
    text-align: center;
	top: 10px;
	font-size: 11px;
	line-height: 20px;
	padding: 0;
	font-weight: bold;
	z-index: 9;
	color:#fff;
	background: #ccc;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.pro-loop .product-img .product-sale{
    left: 10px;
    color:#fff;
    line-height: 40px;
    background: #f94c43;
}
.pro-loop .product-img .sold-out{
    right: 10px;
}
.pro-loop .product-img .sold-out span{
    opacity: 1;
}
.product-detail .box-pro-detail{
    z-index: 9;
    width: 100%;
}
.pro-loop .product-detail h3{
    margin: 0 0 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    position: relative;
}
.pro-loop .product-detail h3 a{
    width: 225px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
	line-height: 16px;
}
.pro-loop .product-img picture{
	transition: all 0.5s ease 0s;
	display: flex;
	align-items: end;
	height: 100%;
}
.pro-loop .product-img picture:nth-of-type(2){
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity: 0;
	visibility: hidden;
}
.pro-price-highlight{
    font-size: 13px;
    color:#f94c43;
}
.pro-price-del{
    font-size: 10px;
    font-family: 'Nunito', sans-serif;
    color:#777a7b;
    padding-left: 10px;
    font-weight: 500;
}
.pro-loop picture>img{
    width: 230px;
}
.pro-loop:hover .product-img picture:nth-of-type(2) {
    opacity: 1;
    visibility: visible;
} 
.pro-loop:hover .product-img picture:nth-of-type(1) {
    opacity: 0;
    visibility: hidden;
}

/* ---------------box chat------------ */
.box-chat>img{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 80px;
    z-index: 11;
}

/* -----phần footer------------------ */
footer{
    position: relative;
    width: 100%;
    height: 80px;
    top: 150px;
    background-color: #f3f3f3;
    clear: both;
}
footer div img{
    width: 25px;
    position: absolute;
}
.email{
    top: 27px;
    left: 25px;
}
.text-dienthoai{
    position: absolute;
    top: 33px;
    right: 120px;
}
.text-email{
    padding: 33px 70px;
}
.text{
    position: absolute;
    top: 18px;
    left: 250px;
    width: 550px;
    height: 40px;
    border: 1px solid #e7e7e7;
    box-shadow: none;
    padding: 0 20px;
    background: #fbfbfb;
}
.text:hover{
    border: 1px solid #ffa277;
    box-shadow: none;
}
.dangky{
    color: white;
    position: absolute;
    width: 100px;
    height: 42px;
    top: 18px;
    left: 750px;
    border: 1px solid #ffa277;
    background-color: #ffa277;
}
.dangky:hover{
    color: black;
    background-color: #fbfbfb;
    transition: 0.6s;
}
.dienthoai{
    position: absolute;
    right: 355px;
    top: 27px;
}

/* ------------thong tin lien he-------- */
.danhmuc>div{
    border: 1px solid;
}
.danhmuc h2{
    text-align: center;
    margin: 20px 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid;
}
.danhmuc ul{
    padding-left: 20px;
    padding-bottom: 40px;
}
.danhmuc ul li{
    padding: 10px;
}
.danhmuc>img{
    margin-top: 30px;
    width: 315px;
}

.thongtin{
    left: 120px;
}
.thongtin>p>img{
    width: 15px;
    padding-right: 10px;
}
.thongtin>span>img{
    margin-left: 70px;
}

/* ----------------login------------------- */
.boxdiv{
    border-top: 2px solid #707070 ;
}
#dangnhap{
    top: 0px;
    left: 0px;
    width: 49.8%;
    float: left;
}
#dangnhap>h1{
    padding-top: 170px;
    font-size: 50px;
    height: 370px;
    padding-left: 100px;
}

#login{
    top: 0px;
    right: 0px;
    width: 50%;
    float: right;
    text-align: center;
}
#login input:first-child{
    margin-top: 120px;
}
#login .box-login{
    padding-left: 20px;
    width: 450px;
    height: 50px;
    border: 1px solid #e7e7e7;
    box-shadow: none;
    margin: 15px;
    background-color: #f3f3f3;
}
.box-dangnhap{
    color: white;
    position: absolute;
    font-size: 16px;
    left: 80px;
    top: 285px;
    padding: 18px 32px;
    border: 1px solid #ffa277;
    background-color: #ffa277;
}
.box-dangnhap:hover{
    color: black;
    background-color: #fbfbfb;
    transition: 0.6s;
}
#login>p{
    padding-top: 57px;
    padding-left: 110px;
}
.box-login:hover{
    background-color: #ffffff;
}

.finally{
    top: 0px;
}


